<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [1]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

In [2]:
df=pd.read_csv("data/job_listings.csv")

In [3]:
df.head()

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

In [4]:
X=df.description
X

0      b"<div><div>Job Requirements:</div><ul><li><p>...
1      b'<div>Job Description<br/>\n<br/>\n<p>As a Da...
2      b'<div><p>As a Data Scientist you will be work...
3      b'<div class="jobsearch-JobMetadataHeader icl-...
4      b'<ul><li>Location: USA \xe2\x80\x93 multiple ...
5      b'<div>Create various Business Intelligence An...
6      b'<div><p>As Spotify Premium swells to over 96...
7      b"Everytown for Gun Safety, the nation's large...
8      b"<ul><li>MS in a quantitative discipline such...
9      b'<div><p>Slack is hiring experienced data sci...
10     b'<div><p><b>Who We Are</b></p><p>\nBlackThorn...
11     b'<div class="jobsearch-JobMetadataHeader icl-...
12     b"nfosys\xe2\x80\x93 Data &amp; Analytics \xe2...
13     b'<div><p>As Spotify Premium swells to over 96...
14     b'<div><ul><li>Experience with guiding R&amp;D...
15     b'<div><p>The Atlantic is seeking a Data Scien...
16     b'<div><p><b>THE CHALLENGE</b></p><p>\nEventbr...
17     b'<div class="jobsearch-JobMetadataHeader icl-...
18     b"Everytown for Gun Safety, the nation's large...
19     b'<div class="jobsearch-JobMetadataHeader icl-...
20     b'<div class="jobsearch-JobMetadataHeader icl-...
21     b'<b>The Challenge:</b><br/>\nAre you excited ...
22     b'<div><p>We are seeking a Data Scientist to j...
23     b'<div><div><div>Motiion is a technology and d...
24     b'<div><div><div><p>The Scientist is responsib...
25     b"As a Data Scientist for Ads Measurement in t...
26     b'<div><div><div><div><p>Summary</p><div><div>...
27     b'<div><p>Slack is looking for experienced dat...
28     b"nfosys\xe2\x80\x93 Data &amp; Analytics \xe2...
29     b'<div class="jobsearch-JobMetadataHeader icl-...
                             ...
396    b"ABOUT US\n<br/>Lark is the world's largest A...
397    b'<div><p>Zenreach solves a major problem for ...
398    b'<div><p><b>Position Description</b></p><br/>...
399    b'By trade we are a technology company, but if...
400    b'<div><b>Purpose &amp; Overall Relevance for ...
401    b"<div><p><b>about dscout</b></p>\n<p>We are d...
402    b"<div><div><b>Junior Data Scientist - Big Dat...
403    b"About Us\n<br/>Interested in working for a h...
404    b'<div>Air Products, Inc., a Fortune 500 manuf...
405    b"<div>Data Scientist -<br/>\nDo you want the ...
406    b'<div><b>Job Description:</b><br/>\n<p><b>Dat...
407    b'<div><div><div><div><div>The Data Scientist ...
408    b'<div><p>FinLocker is a leading financial dat...
409    b'<div><p>With annual sales of $15 billion, Ec...
410    b'<div>Job Description:<br/>\n<br/>\nThe Enter...
411    b"<div>Description:\n<p>Chicago - IL, IL150SW,...
412    b'<div>Nike Supply Chain experts ensure that e...
413    b'<div><div>The Principal Data Scientist is re...
414    b'<div><p>We are looking for a Senior Data Sci...
415    b'<div class="jobsearch-JobMetadataHeader icl-...
416    b'<div></div><div><div><div><div><div><div>Los...
417    b'<div><b><i>About the Role...</i></b><br/>\n<...
418    b'<div class="jobsearch-JobMetadataHeader icl-...
419    b'<div><ul><li>Bachelor\xe2\x80\x99s or Master...
420    b'<div><div>At Uber, we ignite opportunity by ...
421    b"<b>About Us:</b><br/>\nWant to be part of a ...
422    b'<div class="jobsearch-JobMetadataHeader icl-...
423    b'<div class="jobsearch-JobMetadataHeader icl-...
424    b"<p></p><div><p>SENIOR DATA SCIENTIST</p><p>\...
425    b'<div></div><div><div><div><div><p>Cerner Int...
Name: description, Length: 426, dtype: object

## 1) *Clean:* Job Listings from indeed.com that contain the title "Data Scientist" 

You have `job_listings.csv` in the data folder for this module. The text data in the description column is still messy - full of html tags. Use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) library to clean up this column. You will need to read thru the documentation to accomplish this task. 

`Tip:` You will need to install the `bs4` library inside your conda environment.

In [5]:
from bs4 import BeautifulSoup
import requests

##### Your Code Here #####
df['description_clean']=[BeautifulSoup(X).getText() for X in df['description']]
df['description_clean']

0      b"Job Requirements:\nConceptual understanding ...
1      b'Job Description\n\nAs a Data Scientist 1, yo...
2      b'As a Data Scientist you will be working on c...
3      b'$4,969 - $6,756 a monthContractUnder the gen...
4      b'Location: USA \xe2\x80\x93 multiple location...
5      b'Create various Business Intelligence Analyti...
6      b'As Spotify Premium swells to over 96M subscr...
7      b"Everytown for Gun Safety, the nation's large...
8      b"MS in a quantitative discipline such as Stat...
9      b'Slack is hiring experienced data scientists ...
10     b'Who We Are\nBlackThorn Therapeutics is a com...
11     b'Part-timeAbout The Opportunity\nHere at Grub...
12     b"nfosys\xe2\x80\x93 Data & Analytics \xe2\x80...
13     b'As Spotify Premium swells to over 96M subscr...
14     b'Experience with guiding R&D strategy for you...
15     b'The Atlantic is seeking a Data Scientist to ...
16     b'THE CHALLENGE\nEventbrite is big, bustling m...
17     b'ContractWe are looking to hire for a Data Sc...
18     b"Everytown for Gun Safety, the nation's large...
19     b'$70,000 - $100,000 a yearTitle: Data Analyst...
20     b'$45,000 a yearWorking under direction of the...
21     b'The Challenge:\nAre you excited at the prosp...
22     b'We are seeking a Data Scientist to join our ...
23     b'Motiion is a technology and data company for...
24     b'The Scientist is responsible for the scienti...
25     b"As a Data Scientist for Ads Measurement in t...
26     b'Summary\nPosted: Mar 6, 2019\nWeekly Hours: ...
27     b'Slack is looking for experienced data scient...
28     b"nfosys\xe2\x80\x93 Data & Analytics \xe2\x80...
29     b'Part-time, InternshipSUMMARY:\n\n\nSierra Ne...
                             ...
396    b"ABOUT US\nLark is the world's largest A.I. h...
397    b'Zenreach solves a major problem for brick-an...
398    b'Position Description\nAs the Walmart Voice C...
399    b'By trade we are a technology company, but if...
400    b'Purpose & Overall Relevance for the Organiza...
401    b"about dscout\nWe are dscout. At our core, we...
402    b"Junior Data Scientist - Big Data (Entry-Leve...
403    b"About Us\nInterested in working for a human-...
404    b'Air Products, Inc., a Fortune 500 manufactur...
405    b"Data Scientist -\nDo you want the opportunit...
406    b'Job Description:\nData Scientist\nInteractiv...
407    b'The Data Scientist I mines and analyzes comp...
408    b'FinLocker is a leading financial data and an...
409    b'With annual sales of $15 billion, Ecolab (EC...
410    b'Job Description:\n\nThe Enterprise Data Solu...
411    b"Description:\nChicago - IL, IL150SW, 150 S W...
412    b'Nike Supply Chain experts ensure that every ...
413    b'The Principal Data Scientist is responsible ...
414    b'We are looking for a Senior Data Scientist w...
415    b'Temporary, Internship\nThe Marketing Data Sc...
416    b'Los Gatos, California\nScience and Analytics...
417    b'About the Role...\n\nLogic2020 is looking to...
418    b'ContractThe role is largely operational and ...
419    b'Bachelor\xe2\x80\x99s or Master\xe2\x80\x99s...
420    b'At Uber, we ignite opportunity by setting th...
421    b"About Us:\nWant to be part of a fantastic an...
422    b'InternshipAt Uber, we ignite opportunity by ...
423    b'$200,000 - $350,000 a yearA million people a...
424    b"SENIOR DATA SCIENTIST\nJOB DESCRIPTION\n\nAB...
425    b'Cerner Intelligence is a new, innovative org...
Name: description_clean, Length: 426, dtype: object

In [6]:
df['description_clean'] = df['description_clean'].apply(lambda x: x[2:-1].replace('\\n', ' '))

In [7]:
df['description_clean']

0      Job Requirements: Conceptual understanding in ...
1      Job Description  As a Data Scientist 1, you wi...
2      As a Data Scientist you will be working on con...
3      $4,969 - $6,756 a monthContractUnder the gener...
4      Location: USA \xe2\x80\x93 multiple locations ...
5      Create various Business Intelligence Analytica...
6      As Spotify Premium swells to over 96M subscrib...
7      Everytown for Gun Safety, the nation's largest...
8      MS in a quantitative discipline such as Statis...
9      Slack is hiring experienced data scientists to...
10     Who We Are BlackThorn Therapeutics is a comput...
11     Part-timeAbout The Opportunity Here at Grubhub...
12     nfosys\xe2\x80\x93 Data & Analytics \xe2\x80\x...
13     As Spotify Premium swells to over 96M subscrib...
14     Experience with guiding R&D strategy for your ...
15     The Atlantic is seeking a Data Scientist to he...
16     THE CHALLENGE Eventbrite is big, bustling mark...
17     ContractWe are looking to hire for a Data Scie...
18     Everytown for Gun Safety, the nation's largest...
19     $70,000 - $100,000 a yearTitle: Data Analyst/J...
20     $45,000 a yearWorking under direction of the A...
21     The Challenge: Are you excited at the prospect...
22     We are seeking a Data Scientist to join our Pr...
23     Motiion is a technology and data company for t...
24     The Scientist is responsible for the scientifi...
25     As a Data Scientist for Ads Measurement in the...
26     Summary Posted: Mar 6, 2019 Weekly Hours: 40 R...
27     Slack is looking for experienced data scientis...
28     nfosys\xe2\x80\x93 Data & Analytics \xe2\x80\x...
29     Part-time, InternshipSUMMARY:   Sierra Nevada\...
                             ...
396    ABOUT US Lark is the world's largest A.I. heal...
397    Zenreach solves a major problem for brick-and-...
398    Position Description As the Walmart Voice Comm...
399    By trade we are a technology company, but if y...
400    Purpose & Overall Relevance for the Organizati...
401    about dscout We are dscout. At our core, we ar...
402    Junior Data Scientist - Big Data (Entry-Level)...
403    About Us Interested in working for a human-cen...
404    Air Products, Inc., a Fortune 500 manufacturer...
405    Data Scientist - Do you want the opportunity t...
406    Job Description: Data Scientist Interactive He...
407    The Data Scientist I mines and analyzes comple...
408    FinLocker is a leading financial data and anal...
409    With annual sales of $15 billion, Ecolab (ECL)...
410    Job Description:  The Enterprise Data Solution...
411    Description: Chicago - IL, IL150SW, 150 S Wack...
412    Nike Supply Chain experts ensure that every ye...
413    The Principal Data Scientist is responsible fo...
414    We are looking for a Senior Data Scientist wit...
415    Temporary, Internship The Marketing Data Scien...
416    Los Gatos, California Science and Analytics Th...
417    About the Role...  Logic2020 is looking to sec...
418    ContractThe role is largely operational and su...
419    Bachelor\xe2\x80\x99s or Master\xe2\x80\x99s d...
420    At Uber, we ignite opportunity by setting the ...
421    About Us: Want to be part of a fantastic and f...
422    InternshipAt Uber, we ignite opportunity by se...
423    $200,000 - $350,000 a yearA million people a y...
424    SENIOR DATA SCIENTIST JOB DESCRIPTION  ABOUT U...
425    Cerner Intelligence is a new, innovative organ...
Name: description_clean, Length: 426, dtype: object

## 2) Use Spacy to tokenize the listings

In [8]:
##### Your Code Here #####
import spacy
from spacy.tokenizer import Tokenizer
nlp = spacy.load("en_core_web_lg")

# Tokenizer
tokenizer = Tokenizer(nlp.vocab)

In [9]:
tokens = []

""" Update those tokens w/o stopwords"""
for doc in tokenizer.pipe(df['description_clean'], batch_size=500):
    
    doc_tokens = []
    
    for token in doc:
        if (token.is_stop == False) & (token.is_punct == False):
            doc_tokens.append(token.text.lower())

    tokens.append(doc_tokens)

df['tokens'] = tokens

In [10]:
df.tokens.head()

0    [job, requirements:, conceptual, understanding...
1    [job, description,  , data, scientist, 1,, hel...
2    [data, scientist, working, consulting, busines...
3    [$4,969, $6,756, monthcontractunder, general, ...
4    [location:, usa, \xe2\x80\x93, multiple, locat...
Name: tokens, dtype: object

In [11]:
df['tokens']=df['tokens'].astype(str)

In [12]:
df['tokens']

0      ['job', 'requirements:', 'conceptual', 'unders...
1      ['job', 'description', ' ', 'data', 'scientist...
2      ['data', 'scientist', 'working', 'consulting',...
3      ['$4,969', '$6,756', 'monthcontractunder', 'ge...
4      ['location:', 'usa', '\\xe2\\x80\\x93', 'multi...
5      ['create', 'business', 'intelligence', 'analyt...
6      ['spotify', 'premium', 'swells', '96m', 'subsc...
7      ['everytown', 'gun', 'safety,', "nation's", 'l...
8      ['ms', 'quantitative', 'discipline', 'statisti...
9      ['slack', 'hiring', 'experienced', 'data', 'sc...
10     ['blackthorn', 'therapeutics', 'computational'...
11     ['part-timeabout', 'opportunity', 'grubhub', '...
12     ['nfosys\\xe2\\x80\\x93', 'data', 'analytics',...
13     ['spotify', 'premium', 'swells', '96m', 'subsc...
14     ['experience', 'guiding', 'r&d', 'strategy', '...
15     ['atlantic', 'seeking', 'data', 'scientist', '...
16     ['challenge', 'eventbrite', 'big,', 'bustling'...
17     ['contractwe', 'looking', 'hire', 'data', 'sci...
18     ['everytown', 'gun', 'safety,', "nation's", 'l...
19     ['$70,000', '$100,000', 'yeartitle:', 'data', ...
20     ['$45,000', 'yearworking', 'direction', 'assoc...
21     ['challenge:', 'excited', 'prospect', 'unlocki...
22     ['seeking', 'data', 'scientist', 'join', 'prod...
23     ['motiion', 'technology', 'data', 'company', '...
24     ['scientist', 'responsible', 'scientific', 'in...
25     ['data', 'scientist', 'ads', 'measurement', 'p...
26     ['summary', 'posted:', 'mar', '6,', '2019', 'w...
27     ['slack', 'looking', 'experienced', 'data', 's...
28     ['nfosys\\xe2\\x80\\x93', 'data', 'analytics',...
29     ['part-time,', 'internshipsummary:', '  ', 'si...
                             ...
396    ['lark', "world's", 'largest', 'a.i.', 'health...
397    ['zenreach', 'solves', 'major', 'problem', 'br...
398    ['position', 'description', 'walmart', 'voice'...
399    ['trade', 'technology', 'company,', 'ask', 'wo...
400    ['purpose', 'overall', 'relevance', 'organizat...
401    ['dscout', 'dscout.', 'core,', 'people', 'nerd...
402    ['junior', 'data', 'scientist', 'big', 'data',...
403    ['interested', 'working', 'human-centered', 't...
404    ['air', 'products,', 'inc.,', 'fortune', '500'...
405    ['data', 'scientist', 'want', 'opportunity', '...
406    ['job', 'description:', 'data', 'scientist', '...
407    ['data', 'scientist', 'mines', 'analyzes', 'co...
408    ['finlocker', 'leading', 'financial', 'data', ...
409    ['annual', 'sales', '$15', 'billion,', 'ecolab...
410    ['job', 'description:', ' ', 'enterprise', 'da...
411    ['description:', 'chicago', 'il,', 'il150sw,',...
412    ['nike', 'supply', 'chain', 'experts', 'ensure...
413    ['principal', 'data', 'scientist', 'responsibl...
414    ['looking', 'senior', 'data', 'scientist', 'ma...
415    ['temporary,', 'internship', 'marketing', 'dat...
416    ['los', 'gatos,', 'california', 'science', 'an...
417    ['role...', ' ', 'logic2020', 'looking', 'secu...
418    ['contractthe', 'role', 'largely', 'operationa...
419    ['bachelor\\xe2\\x80\\x99s', 'master\\xe2\\x80...
420    ['uber,', 'ignite', 'opportunity', 'setting', ...
421    ['us:', 'want', 'fantastic', 'fun', 'startup',...
422    ['internshipat', 'uber,', 'ignite', 'opportuni...
423    ['$200,000', '$350,000', 'yeara', 'million', '...
424    ['senior', 'data', 'scientist', 'job', 'descri...
425    ['cerner', 'intelligence', 'new,', 'innovative...
Name: tokens, Length: 426, dtype: object

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [13]:
##### Your Code Here #####




vect = CountVectorizer(stop_words='english', max_features=1000)

#Learn our Vocab
vect.fit(df.tokens)

# Get sparse dtm
dtm = vect.transform(df.tokens)

dtm = pd.DataFrame(dtm.todense(), columns=vect.get_feature_names())


dtm

,000,10,100,2019,40,abilities,ability,able,academic,access,...,xa6,xae,xb7,xbb,xc2,xe2,xef,year,years,york
0,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,2,0,0,0,0,8,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,3,0,1,0,0
7,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,1,0
9,0,0,1,0,0,1,2,0,0,1,...,0,0,0,0,0,4,0,0,1,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,11,0,0,1,0
12,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,23,0,1,2,0
13,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,3,0,1,0,0
14,0,0,0,0,0,0,1,2,0,0,...,0,0,0,0,0,3,0,0,2,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,1,0
16,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,9,0,1,2,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,2,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,2,0,0,0,0,0,3,1,0,0,...,0,0,0,0,0,5,0,3,0,0
21,0,0,0,0,0,0,3,0,1,3,...,0,0,0,0,0,13,0,0,1,0
22,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
23,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,6,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,0,0,1,0,0,1,1,0,1,1,...,0,0,0,0,0,4,0,0,1,0
28,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,23,0,1,2,0
29,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,0,1,2,0,0,0,0,0,0,0,...,1,0,0,0,0,8,0,0,2,0
397,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,3,0,0,1,0
398,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
399,0,0,0,0,0,0,5,0,0,0,...,0,0,0,0,0,12,0,0,2,0
400,0,1,0,0,0,1,2,0,0,0,...,2,0,0,0,0,21,0,0,2,0
401,1,0,0,0,1,2,0,1,0,0,...,0,0,0,0,0,1,0,0,3,0
402,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
403,0,1,0,0,0,0,0,2,0,0,...,1,0,0,0,0,5,0,0,0,0
404,0,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
405,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,7,0,1,1,0
406,0,0,0,0,0,1,4,0,1,0,...,0,0,0,0,0,3,0,0,1,0
407,0,0,0,0,0,0,6,0,0,0,...,0,0,0,0,0,1,0,0,1,0
408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,1,0
409,1,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,9,0,0,1,0
410,0,0,0,0,0,0,10,2,0,0,...,0,0,0,0,0,0,0,0,3,0
411,0,0,0,2,1,1,3,2,0,1,...,0,0,0,0,0,12,0,0,2,0
412,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,8,0,1,1,0
413,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,6,0,0,1,0
414,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,2,0,0,1,1
415,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
416,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,2,0,0,0,0
417,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,5,0,0,3,0
418,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
419,0,0,0,0,0,1,2,0,0,0,...,0,0,0,0,0,6,0,0,2,0
420,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,1,0
421,0,0,0,0,2,0,2,0,0,0,...,0,0,0,0,0,4,0,2,3,1
422,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
423,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
424,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,2,0,0,1,0
425,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,5,0,0,2,0

## 4) Visualize the most common word counts

In [28]:
##### Your Code Here #####
bag_of_words=vect.transform(df.tokens)
sum_words = bag_of_words.sum(axis=0) 
words_freq = [(word, sum_words[0, idx]) for word, idx in vect.vocabulary_.items()]
words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
word_freq_10=words_freq[:10]
word_freq_10.sort(reverse=True)
word_freq_10

In [26]:
data = np.array(word_freq_10)
x, y = data.T
plt.scatter(x,y)
plt.show()

TypeError: iteration over a 0-d array

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [16]:
##### Your Code Here #####
def tokenize(document):
    
    doc = nlp(document)
    
    return [token.lemma_.strip() for token in doc if (token.is_stop != True) and (token.is_punct != True)]
# Tunning Parameters

# Instantiate vectorizer object
tfidf = TfidfVectorizer(stop_words='english', 
                        ngram_range=(1,2),
                        max_df=.97,
                        min_df=3,
                        tokenizer=tokenize)

# Create a vocabulary and get word counts per document
dtm = tfidf.fit_transform(df.description_clean) # Similiar to fit_predict

# Print word counts

# Get feature names to use as dataframe column headers
dtm = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())

# View Feature Matrix as DataFrame
dtm.head()

,,,1,2,3,4,5,6,\xc2\xbb,\xef\x83\x98,...,you\xe2\x80\x99ll work,you\xe2\x80\x99re,you\xe2\x80\x99re data,you\xe2\x80\x99re look,you\xe2\x80\x99re ready,you\xe2\x80\x99ve,you\xe2\x80\x99ve work,yrs,|,||
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.066967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.030071,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.061634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [17]:
##### Your Code Here #####
from sklearn.neighbors import NearestNeighbors

# Fit on DTM
nn = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')
nn.fit(dtm)

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [18]:
nn.kneighbors([dtm.iloc[0].values])

(array([[0.        , 1.30621878, 1.32166127, 1.32826173, 1.33186607]]),
 array([[  0, 115, 274, 336, 338]]))

In [19]:
nn.kneighbors([dtm.iloc[256]])

(array([[0.        , 1.25648689, 1.26528823, 1.27893791, 1.28110997]]),
 array([[256, 201, 410, 199, 399]]))

In [20]:
rndm_tech_article = ["""Data Science, Data Mining, Data Analysis, Python, Machine Learning"""]

In [21]:
new = tfidf.transform(rndm_tech_article)

In [22]:
nn.kneighbors(new.todense())

(array([[1.33153404, 1.33723134, 1.34215306, 1.34286151, 1.34471793]]),
 array([[168, 145, 383, 185,  38]]))

In [23]:
df['description_clean'][168]

"Logistics done differently. At XPO Logistics, we invest over $450 million in technology every year so that we can continue to develop state-of-the-art solutions for our customers. As the Data Scientist, you will be responsible for developing analytical experiments in a methodical manner and regularly evaluating alternate models to support strategic initiatives and ongoing business processes. You will work with leads, analysts and data producers/consumers to understand requirements, develop technical solutions and ensure the reliability and performance of the data solutions. Become a part of our growing, dynamic team and we'll help you build a career you can be proud of. Pay, benefits and more. We are eager to attract the best, so we offer competitive compensation and a generous benefits package, including full health insurance (medical, dental and vision), 401(k), life insurance, disability and the opportunity to participate in a company incentive plan. What you\\xe2\\x80\\x99ll do on a typical day: Develop solutions focused on data science and engineering using machine learning, deep learning algorithms, statistical concepts, data modeling, software development and visualizations Troubleshoot technical issues in existing processes and current development work; solicit assistance from other roles and groups, and drive resolution to ensure the integrity of platform quality and project timelines Understand and improve shared standard patterns, templates and artifacts for architecture, data science development approaches, data models and new technology adoption and rollout Generalize and share technical approaches and best practices among other developers, and simplify and communicate completed work to broader audiences across the company Help support data consumers to ensure they have reliable access to trusted data What you need to succeed at XPO: At a minimum, you\\xe2\\x80\\x99ll need: Master's degree in Computer Science, MIS, Engineering, Business or related field; or recent college graduates with hands-on, moderately complex internship projects of greater than 6 months 1 year of hands-on experience in delivering solutions in at least two of the following: data science, data analysis, geo spatial, finance, econometrics, cloud computing, big data and database management Experience with statistical modeling, data analytics and visualization using R and Python (Numpy, Pandas, Scipy, Plotly and Matplotlib) Significant experience applying one or more of the following analytical methods: regression (preferably mixed models), data classification and reduction (cluster, factor, principle components, decision trees), Bayesian inference or other advanced machine learning techniques Deep understanding of statistical modeling, machine learning, deep learning or data mining concepts, and a track record of solving problems with these methods Proven technical database knowledge (Oracle, NoSQL, data modeling) and experience optimizing SQL queries on large data Ability to write SQL fluently, recognize and correct inefficient or error-prone SQL, and perform test-driven validation of SQL queries and their results Proficiency in Microsoft Office and Windows applications; ability to quickly learn and achieve proficiency in new software applications Availability to work periodic 24/7 on-call support as required by the team\\xe2\\x80\\x99s rotation schedule It\\xe2\\x80\\x99d be great if you also have: Data science specialization from Coursera, Udacity, Data Camp, etc. 10 years of hands-on experience in delivering solutions in at least two of the following: data science, data modeling, data integration and business intelligence 5 years of hands-on experience in delivering solutions in at least two of the following: data science, data analysis, geo spatial, finance, econometrics, cloud computing, big data and database management Be part of something big. #LI-ED1 XPO provides cutting-edge supply chain solutions to the world's most successful companies, including Disney, Pepsi, L'Or\\xc3\\xa9al, Toyota and many others. We\\xe2\\x80\\x99re the fastest-growing transportation company on the Fortune 500 list and we\\xe2\\x80\\x99re just getting started. We are proud to be an Equal Opportunity/Affirmative Action employer. Qualified applicants will receive consideration for employment without regard to race, sex, disability, veteran, or other protected status. The above statements are intended to describe the general nature and level of work being performed by people assigned to this classification. They are not intended to be construed as an exhaustive list of all responsibilities, duties, and skills required of personnel so classified. All employees may be required to perform duties outside of their normal responsibilities from time to time, as needed."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)